---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Code of Conduct">
  <main class="m-4">
    <h1 class="text-4xl font-bold my-8">Code of Conduct</h1>
    <p>
      運営スタッフ、ワークショップ運営者、その他すべての参加者は <a
        class="underline text-blue-500"
        href="https://go.dev/conduct">Go Community Code of Conduct</a
      > に従う必要があります。
    </p>
    <br />
    <p>問題があった場合は、運営スタッフにご相談くださいませ。</p>
    <p>
      違反が認められた場合、運営スタッフは当該参加者の退場・今後の参加禁止など適切な措置を取ることがあります。
    </p>
  </main>
</Layout>
