---
import { withBase } from "../utils/withBase";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import PostCard from "../components/PostCard.astro";

// ブログ記事を新しい順に3件取得
const posts = (await getCollection("posts"))
  .sort((a, b) => (a.data.publishedAt < b.data.publishedAt ? 1 : -1))
  .slice(0, 3);
---

<Layout>
  <div class="bg-white min-h-screen flex flex-col">
    <main class="flex-grow md:mx-auto md:space-y-8 space-y-4">
      <div class="w-fit mx-auto bg-blue-50 p-6 rounded-lg shadow-sm">
        <p class="text-blue-800 text-center font-medium">
          Go Workshop Conference 2025 IN KOBEは無事すべてのプログラムを終了し、閉幕しました。
          <br />
          ご参加いただいた皆様、ならびにご協力いただいた皆様、ありがとうございました。
        </p>
      </div>
      <header class="flex flex-col items-center justify-center text-center">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset={withBase("/logo_1200w.png")}
          />
          <img
            class="w-screen max-w-none md:w-content md:max-w-full"
            src={withBase("/logo_630w.png")}
            alt="Go Workshop Conference 2025 IN KOBE"
          />
        </picture>
      </header>
      <section class="flex flex-col items-center mb-8 p-4 gap-8">
        <div class="text-center text-lg max-w-2xl">
          Go Workshop
          Conferenceは、みんなで手を動かしながら交流するワークショップを中心としたGo言語のイベントです。初心者から上級者まで、Go言語に関心のあるすべての方を対象としています。
        </div>
        <section class="my-12 flex flex-col items-center">
          <h2 class="text-2xl font-bold mb-6 text-center">開催概要</h2>
          <dl class="text-center">
            <dt class="mb-2 text-xl text-gray-600 font-semibold">開催日時</dt>
            <dd class="mb-8 text-lg">
              <div class="flex flex-col items-center justify-center gap-2">
                <span>2025/12/13（土） 10:00〜18:00</span>
                <span class="text-gray-600"
                  >会場には<strong>9:30</strong>から入場できます</span
                >
              </div>
            </dd>
            <dt class="mb-2 text-xl text-gray-600 font-semibold">会場</dt>
            <dd class="mb-8 text-lg">
              <a
                href="https://kiito.jp/access/"
                target="_blank"
                class="text-blue-600 hover:text-blue-800 underline hover:no-underline"
              >
                デザイン・クリエイティブセンター神戸(KIITO)
              </a>
              <br />
              〒651-0082 兵庫県神戸市中央区小野浜町 1-4
            </dd>
            <dt class="mb-2 text-xl text-gray-600 font-semibold">
              会場内のご案内
            </dt>
            <dd class="mb-8 text-lg">
              <div class="flex flex-col items-center justify-center gap-2">
                <a
                  href="https://kiito.jp/wordpress/wp-content/uploads/2017/08/floor_1f-202204.svg"
                  target="_blank"
                  class="text-blue-600 hover:text-blue-800 underline hover:no-underline"
                >
                  会場マップを見る
                </a>
                <span
                  ><strong>「KIITOホール」、「ギャラリーA」</strong
                  >にて開催されます。</span
                ><span class="text-gray-600"
                  >その他のエリアでは別のイベントが開催されていますので、立ち入りはご遠慮ください。</span
                >
              </div>
              <dt class="mb-2 text-xl text-gray-600 font-semibold">参加費用</dt>
              <dd class="mb-8 text-lg">
                無料（一部のワークショップでは材料費をいただきます）
              </dd>
              <dt class="mb-2 text-xl text-gray-600 font-semibold">主催</dt>
              <dd class="mb-8 text-lg">
                <div class="flex flex-col items-center justify-center gap-2">
                  Go Workshop Conference 2025 IN KOBE実行委員会
                  <a
                    href="https://twitter.com/gwcjp?ref_src=twsrc%5Etfw"
                    class="twitter-follow-button"
                    data-show-count="false">Follow @gwcjp</a
                  ><script
                    async
                    src="https://platform.twitter.com/widgets.js"
                    charset="utf-8"></script>
                </div>
              </dd>
              <dt class="mb-2 text-xl text-gray-600 font-semibold">共催</dt>
              <dd class="text-lg">一般社団法人Gophers Japan</dd>
            </dd>
          </dl>
          {
            /* TODO: 当日スタッフの募集開始時に以下を書き換えて表示する */
            false && (
              <div class="text-center p-8 border border-gray-200 rounded-lg shadow-sm">
                <h2 class="mb-4 text-xl text-gray-600 font-semibold">
                  スタッフ募集中です！
                </h2>
                <div class="text-lg space-y-4">
                  <p>
                    当日・事前準備のお手伝いをしてくださる方を募集しています。
                    <br />
                    イベント運営の経験は不問です。
                    <br />
                    興味のある方はぜひお申し込みください！
                  </p>
                  <a
                    class="inline-flex items-center justify-center p-0.5 text-sm text-gray-600 font-semibold rounded-lg bg-gradient-to-br from-blue-500 to-purple-600 focus:ring-2 focus:outline-none focus:ring-blue-300 hover:ring-2 hover:ring-blue-300"
                    href="https://docs.google.com/forms/d/e/1FAIpQLSfQMTjI0kG8Xq1j4K-aBZh_o6AdT8tv8xgDcuC0NVSM47cS4g/viewform"
                  >
                    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-transparent">
                      お申し込みフォームはこちら
                    </span>
                  </a>
                </div>
              </div>
            )
          }
        </section>
        <section class="my-12">
          <h2 class="text-2xl font-bold mb-6 text-center">ブログ</h2>
          <div class="flex flex-col gap-8">
            {
              posts.map((item) => (
                <PostCard
                  title={item.data.title}
                  author={item.data.author}
                  publishedAt={item.data.publishedAt}
                  slug={item.id}
                />
              ))
            }
          </div>
          <div class="mt-6 text-center">
            <a
              href={withBase("posts")}
              class="inline-block text-blue-600 hover:text-blue-800 underline font-semibold"
            >
              もっと見る
            </a>
          </div>
        </section>
      </section>
    </main>
  </div>
</Layout>
