---
import Layout from "../layouts/Layout.astro";
---

<Layout title="タイムテーブル">
  <div class="table-container">
    <table id="timeBoothTable"></table>
  </div>
</Layout>

<style is:global>
  @import "../styles/schedule.css";
</style>

<script>
  import "../utils/main.js";
</script>
