---
import Layout from "../layouts/Layout.astro";
import TimetableTable from "../components/TimetableTable.astro";
---

<Layout title="タイムテーブル">
  <div class="space-y-4">
    <div class="bg-gray-100 p-4 w-fit">
      <p class="text-gray-800">
        ワークショップのほか、ブースコンテンツや各種企画も実施します。随時更新いたしますので、お楽しみにお待ちください。
      </p>
    </div>
    <TimetableTable />
    <p>（懇親会は19:30〜21:30に実施予定です。）</p>
  </div>
</Layout>
