---
import Layout from "../layouts/Layout.astro";
import TimetableTable from "../components/TimetableTable.astro";
---

<Layout title="タイムテーブル">
  <div class="space-y-4">
    <TimetableTable />
    <p>（懇親会は19:30〜21:30に実施予定です。）</p>
  </div>
</Layout>
