---
import Layout from "../layouts/Layout.astro";
import TimetableTable from "../components/TimetableTable.astro";
---

<Layout title="タイムテーブル">
  <TimetableTable />
  <p class="mt-4">（懇親会は19:30〜21:30に実施予定です。）</p>
</Layout>
